@font-face {
  font-family: "iconfont"; /* Project id 3177040 */
  src: url('../font/iconfont.woff2?t=1648351649927') format('woff2'),
       url('../font/iconfont.woff?t=1648351649927') format('woff'),
       url('../font/iconfont.ttf?t=1648351649927') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fuwuzhongxin:before {
  content: "\e6bd";
}

.icon-fuwuzhongxin1:before {
  content: "\e868";
}

.icon-fuwuzhongxin2:before {
  content: "\e60c";
}

.icon-fuwuzhongxin3:before {
  content: "\e60d";
}

.icon-icon-fuwu:before {
  content: "\e60e";
}

.icon-jiantou:before {
  content: "\e66b";
}

.icon-jiantou2:before {
  content: "\e609";
}

.icon-biaoqing:before {
  content: "\e60a";
}

.icon-jiantou1:before {
  content: "\e637";
}

.icon-jiantou3:before {
  content: "\e60b";
}

.icon-weimingmingwenjianjia_jiantou:before {
  content: "\e638";
}

.icon-huiyuanqia:before {
  content: "\e886";
}

.icon-jifen:before {
  content: "\e619";
}

.icon-jifen1:before {
  content: "\e616";
}

.icon-jifen2:before {
  content: "\e608";
}

.icon-jifen3:before {
  content: "\e61e";
}

.icon-huiyuanqia1:before {
  content: "\e610";
}

.icon-jifenshangcheng:before {
  content: "\e687";
}

.icon-huiyuankax:before {
  content: "\e62d";
}

.icon-a-VIPhuiyuanhuiyuanka:before {
  content: "\e643";
}

.icon-xuanxiang:before {
  content: "\e6a9";
}

.icon-waimai:before {
  content: "\e618";
}

.icon-dingdan:before {
  content: "\e897";
}

.icon-shouji2:before {
  content: "\e674";
}

.icon-zhuce:before {
  content: "\e6d6";
}

.icon-sousuo:before {
  content: "\e606";
}

.icon-wode:before {
  content: "\e607";
}

.icon-gouwuchekong:before {
  content: "\e602";
}

.icon-shouji:before {
  content: "\e603";
}

.icon-31gouwuche:before {
  content: "\e604";
}

.icon-31shezhi:before {
  content: "\e605";
}

.icon-shangdian:before {
  content: "\e626";
}

.icon-shouji1:before {
  content: "\e692";
}

.icon-gerenzhongxin:before {
  content: "\e691";
}

.icon-jiantou_yemian_xiangshang:before {
  content: "\eb0a";
}

.icon-jiantou_yemian_xiangxia:before {
  content: "\eb0b";
}

.icon-jiantou_yemian_xiangyou:before {
  content: "\eb0c";
}

.icon-jiantou_yemian_xiangzuo:before {
  content: "\eb0f";
}

.icon-gerenzhongxin1:before {
  content: "\e611";
}

.icon-xiangxia:before {
  content: "\e600";
}

.icon-shanchu2:before {
  content: "\e601";
}

.icon-xiangyoujiantou:before {
  content: "\e65f";
}

.icon-fangdajing:before {
  content: "\e6dd";
}

